#root{
    width: 100vw;
    height: 100vh;
    background-color: rgb(34, 34, 46);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 55px;
}

#media{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
    height: 100vh;
}

.card-media{
    background-color: rgb(226, 229, 248);
    width: 15vw;
    height: calc(15vw/1.1);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;

    &:hover{
        cursor: pointer;
        transform: translateY(-20px);
        transition: 0.4s;
    }
}

#logo-netflix{
    width:70%;
    background-color: rgb(226, 229, 248);

}

#logo-prime{
    width:70%;
}

#logo-yt{
    width:70%;
}

#logo-yt-music{
    width:70%;
}

#logo-fs{
    width:70%;
    border-radius: 1rem;
}

#logo-gpt{
    width:70%;
    border-radius: 1rem;
}